<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Simples</title>

</head>
<body>
<div class="chat-container">
    <div class="messages" id="messages"></div>
    <div class="input-container">
        <input type="text" id="nameInput" value="{{nick}}">
        <input type="text" id="messageInput" placeholder="Digite sua mensagem...">
        <button onclick="sendMessage()">Enviar</button>
    </div>
</div>

<script>
    function sendMessage() {
    const nameInput = document.getElementById('nameInput');
    const messageInput = document.getElementById('messageInput');
    const messages = document.getElementById('messages');
    const name = nameInput.value.trim();
    const message = messageInput.value.trim();

    if (name && message) {
    const messageElement = document.createElement('div');
    messageElement.textContent = `${name}: ${message}`;
    messages.appendChild(messageElement);
    messageInput.value = '';
    messages.scrollTop = messages.scrollHeight;
    } else {
    alert('Informe seu nome');
    }
    }
</script>
</body>
</html>
